{% extends "base.html" %}

{% block content %}
<div class="row align-items-center justify-content-center">
    <div class="col-sm-6">
        <h1 class="my-4">Login</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                {% for error in form.username.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                {% for error in form.password.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <center>
                <button type="submit" class="btn btn-success">Login</button>
            </center>
        </form>
        <p class="mt-2">New User? <a href="{{ url_for('register') }}">Click to Register!</a></    </div>
</div>
{% endblock %}
